<div class="header">
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
      			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
       				<span class="sr-only">Toggle navigation</span>
       				<span class="icon-bar"></span>
        			<span class="icon-bar"></span>
        			<span class="icon-bar"></span>
     			 </button>
   			</div>
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav navbar-left">
					<li><%= link_to "Home",root_path %></li>
					<li><%= link_to "Author", authors_path %></li>
					<li><%= link_to "Book", books_path %></li>
					<li><%= link_to "Category", categories_path %></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<% unless current_user %>
					  <li>
						<%= link_to "Log in", new_user_session_path %>
					  </li>
					  <li><%= link_to "Sign up", new_user_registration_path %></li>
					<% else %>
					  <li><%= link_to "Sign out", destroy_user_session_path, data: { confirm: "Are you sure?" }, method: :delete %></li>
					<% end %>				
				</ul>
			</div>
		</div>
	</nav>
	<div class="container">
		<div class="banner-header">
			<div class="row">
				<div class="col-md-12">
					<img src="http://www.bki.my/sites/default/files/banner-admin.jpg"/>
				</div>
				<div class="col-md-4">
					<h1>Admin BookStore</h1>
				</div>
				<div class="col-md-4 pull-right">
					<form>
						<div class="row>">
							<div class="col-md-9">
								<div class="form-group">
									<input type="text" class="form-control" placeholder="Search">
								</div>
							</div>
							<div class="col-md-3">
								<button type="submit" class="btn btn-default">Search</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>